<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134068539303-97p55nbommdmgclnusi4iekjfc9pn0sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134068539303-97p55nbommdmgclnusi4iekjfc9pn0sa</string>
	<key>API_KEY</key>
	<string>AIzaSyAl27LRIeJLN3JIgM5UoGAQapggCRQpjyg</string>
	<key>GCM_SENDER_ID</key>
	<string>134068539303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.syncowe</string>
	<key>PROJECT_ID</key>
	<string>syncowe</string>
	<key>STORAGE_BUCKET</key>
	<string>syncowe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134068539303:ios:6266379eebe56e7c457082</string>
</dict>
</plist>